<head>
	<link href="/css/Registration.css" rel="stylesheet"/>
</head>

<div class="container">

	<table class="table">
		<thead>
			<tr>
				<h2>New Address Details</h2>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<label>Street Address</label>
				</td>
				<td>
					<input class="form-control" ng-model="newAddress.streetAddress" /> 
				</td>
				
			</tr>
			<tr>
				<td>
					<label>Apartment #</label>
				</td>
				<td>
					<input class="form-control" ng-model="newAddress.aptNumber" /> 
				</td>
				
			</tr>
			<tr>
				<td>
					<label>City</label>
				</td>
				<td>
					<input class="form-control" ng-model="newAddress.city" /> 
				</td>
				
			</tr>
			<tr>
				<td>
					<label>State</label>
				</td>
				<td>
					<input class="form-control" ng-model="newAddress.state" /> 
				</td>
				
			</tr>
			<tr>
				<td>
					<label>Zip Code</label>
				</td>
				<td>
					<input class="form-control" ng-model="newAddress.zip" />
				</td>
				
			</tr>
			<tr>
				<td>
					<label>Phone Number</label>
				</td>
				<td>
					<input class="form-control" ng-model="newAddress.phone" /> 
				</td>
				
			</tr>
			<br><br><br>
		</tbody>
	</table>
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<a class="btn btn-lg btn-primary btn-block" href="#address">Back</a>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<a class="btn btn-lg btn-primary btn-block" ng-click="add()">Add</a>
		</div>
	</div>
</div> 