<head>
    <link href="/css/SignIn.css" rel="stylesheet"/>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
</head>
  

  <div class="container">

      <form class="form-signin" role="form" novalidate>
        <h2 class="form-signin-heading" ng-show="forgotPassword.userNameText">Please Enter Your Username</h2><br>
        <label for="inputuname" class="sr-only">User Name</label>
        <input type="text" id="inputuname" class="form-control" placeholder="User Name" required ng-show="forgotPassword.unameshow" ng-model="forgotPassword.uname">
        <br>
        <button class="btn btn-lg btn-primary btn-block" ng-show="forgotPassword.submit" ng-click="getQuestion()">Continue</button>
        <br>
        <label ng-show="false">{{dbId}}</label></br>
         <h2 class="form-signin-heading" ng-show="forgotPassword.quesText">Please Answer following question</h2><br>
        <label ng-show="forgotPassword.ques">{{question}}</label></br>
        <label ng-show="false">{{dbanswer}}</label></br>

        <input type="text" id="inputanswer" class="form-control" placeholder="Answer" required ng-show="forgotPassword.answer" ng-model="answer"> <br>

        <button class="btn btn-lg btn-primary btn-block" ng-show="forgotPassword.btncontinue" ng-click="validateAnswer()">Continue</button>
        <br>
         <h2 class="form-signin-heading" ng-show="forgotPassword.updatePwdText">Please update your password below.</h2><br>
         <input type="text" id="inputNewPwd" class="form-control" placeholder="New Password" required ng-show="forgotPassword.newPwd" ng-model="newPassword"> <br>
         <button class="btn btn-lg btn-primary btn-block" ng-show="forgotPassword.btnupdate" ng-click="updatePassword()">Update Password</button>
      </form>

    </div> <!-- /container -->
