
 	<div class="container" >

      <form role="form">
        <h2 class="">Welcome to IDP Shop</h2>
        <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Electronics <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Desktops</a></li>
          <li><a href="#">Mobile Phones</a></li>
          <li><a href="#">Tablets</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control">
    </div><!-- /input-group -->
  
</div><!-- /.row -->
      </form>

    </div> <!-- /container -->
