
<div class="container" >

  <form role="form">
    <h2 class="">Welcome to IDP Shop</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-btn">
            <select type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="caret"></span>> 
              <option value="electronics">Electronics</option>
              <option value="laptops">Laptops</option>
              <option value="desktops">Desktops</option>
              <option value="mobiles">Mobile Phones</option>
              <option value="tablets">Tablets</option>
            </select>
          </div>
          <!-- /btn-group -->
          <input type="text" class="form-control">
        </div><!-- /input-group -->

      </div><!-- /.row -->
    </form>

  </div> <!-- /container -->
