<!--  Spec Tab's Content  -->
<h4>Specs</h4>
<blockquote>
<ul class="list-unstyled">

  <li>
    <strong>PrimaryCategoryID</strong>
    : {{product.Item.PrimaryCategoryID}}</li>

        <li>
  <div style="float:left; margin-right:2%">
    <strong>CategoryName : </strong></div>
    <div style="float:left;width:60%">
       {{product.Item.PrimaryCategoryName}}</div></li>
       <div style="clear: both;"></div>
<li>
    <strong>ListingType</strong>
    : {{product.Item.ListingType}}</li>

       <li> <strong>ListingStatus</strong>
    : {{product.Item.ListingStatus}}</li>


<li>

    <strong>Location</strong>
    : {{product.Item.Location}}</li>
  <li>

      <li>
    <strong>Country</strong>
    : {{product.Item.Country}}</li>

      <li>
    <strong>GlobalShipping</strong>
    : {{product.Item.GlobalShipping}}</li>
  <li>
    
</ul>
</blockquote>