<div ng-controller="productDetailCtrl as store">
  <!--  Store Header  -->
  <header>
    <h1 class="text-center">IDP SHOP : Product Details</h2>
    </header>

    <!--  Products Container  -->

    <!-- <div class="list-group" ng-model="product"> -->
    <div class="list-group" ng-model="product">
      <!--  Product Container  -->
      <div class="list-group-item">
        <h4><b>{{product.Item.Title}}</b> </h4>
      </div>
      <br/>

      <div>

       <div class="wrap">
        <!-- Image Gallery  -->
        <product-gallery ></product-gallery>
      </div>
      <product-tabs style="float: right; width:58% ;margin-right:2%"></product-tabs>

    </div>
  </div>
</div>
</div>
<div style="clear: both;"></div>
</div>