<div class="container">
	<br/>
	<br/>
	<div class="row" style="height:200px">
		
		<div class="col-md-6 col-md-offset-2">
			<p><h3>Hello, {{username}} </h3></p>
		</div>
		<div class="col-md-4" style="padding:15px">
			<p><a href="#address">Add/Edit Address</a><br/>
				<a href="#payment">Add/Edit Payment Info</a><br/>
		</div>
	</div>
	<div class = "row" style="overflow-y: scroll; height: auto; border: 1px solid black">
		<div class="col-md-10 col-md-offset-1">
		<p>
		<h3>Comments</h3>
		</p>
		<table>
		</table>
		</div>
	</div>
	<br/>
	<br/>
	<div class = "row" style="overflow-y: scroll; height: auto; border: 1px solid black">
		<div class="col-md-10 col-md-offset-1">
			<p>
			<h3>Saved Products</h3>
			</p>
			<table>
			</table>
		</div>
	</div>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			
				<button type="button" class="btn btn-lg btn-primary btn-block">Purchase History</button>
			
		</div>
	</div>
	
</div>