<script>
$(function () {
    $(":file").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = imageIsLoaded;
            reader.readAsDataURL(this.files[0]);
            alert(this.files[0]);
        }
    });
});

function imageIsLoaded(e) {
    $('#myImg').attr('src', e.target.result);
};

</script>

<div class="container">
	<br/>
	<br/>
	
	<div class="row" style="height:50px">
		<div class="col-md-6 col-md-offset-3">
			<p><h3>{{username}}, Welcome to the profile </h3></p>
		</div>
	</div>
	<div class="row" style="height:200px">
		<div class="col-md-6 col-md-offset-3" style="padding:15px">
			<p><a href="#address" ng-hide="isActiveUser({{username}})">Add/Edit Address</a>
				<a href="#payment" style="float:right" ng-hide="isActiveUser({{username}})">Add/Edit Payment Info</a><br/><br/>
				<a class="btn btn-lg btn-primary btn-block" href="#comments?id={{username}}">{{username}}'s Comments</a><br/>
				<a class="btn btn-lg btn-primary btn-block" href="#savedProducts?id={{username}}">{{username}}'s Saved Products</a><br/>
				<a class="btn btn-lg btn-primary btn-block" href="#purchase" ng-hide="isActiveUser({{username}})">{{username}}'s My Purchase History</a>


		</div>
		<!-- <div class="col-md-6" style="padding:15px">
			<input type='file' />
			<br/>
			<img style="width:200px; height:200px" id="myImg" src="/images/dhwani.jpg" alt="your image" />
		</div> -->
	</div>
</div>