<head>
    <link href="/css/SignIn.css" rel="stylesheet"/>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
</head>
  

  <div class="container">

      <form class="form-signin" role="form" ng-submit="validate()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputuname" class="sr-only">User Name</label>
        <input type="text" id="inputuname" class="form-control" placeholder="User Name" required autofocus ng-model="login.uname">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="login.password">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br>
        <div>
        <span>
          <a href="#registerUser" text-decoration="none">
            Sign Up
          </a>
        </span>
        <span>
          <b>OR</b>
        </span>
        <span>
          <a href="#homePage" text-decoration="none">
            Guest User
          </a>
        </span>
        </div>
      </form>

    </div> <!-- /container -->
